{% extends 'AppBundle::base.html.twig' %}

{% block content %}

<div class="container">
    <h4>Il y a {{ counts}} films</h4>
    <a class="btn btn-primary pull-right" href="{{ path('app_homepage',{'page': pageSuivante}) }}">Page suivante</a>
    {% if (page > 1 ) %}
        <a class="btn btn-primary pull-right" href="{{ path('app_homepage',{'page': pagePrecedente}) }}" >Page précédente</a>
    {% endif %}
</div>
    <br>
<div class="container">
    {% for movie in movies %}
        <a href="{{ path('movie_detail', {'id':movie.id}) }}"><img src="{{ asset('posters/'~ movie.imdbId ~ '.jpg')}}"></a>
    {% endfor %}
</div>

{% endblock %}